## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [145]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [146]:
sample_list_1 = random.sample(range(100), k=80)
# Your code here
sample_list_1.sort()
print (sample_list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 67, 68, 69, 71, 72, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 97, 98]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [148]:
# Gets the count of the unique values 
set = __builtins__.set
set1 = set(sample_list_1)
print (len(set1))
print (set1)

80
{0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 67, 68, 69, 71, 72, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 97, 98}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [149]:
# your code
sample_list_2 = []
for i in random.sample(range(100), k=80):
    sample_list_2.append(i)
print (sample_list_2)
print ('The list lenth is:',len(sample_list_2))

[91, 25, 87, 53, 92, 94, 2, 3, 13, 50, 12, 88, 62, 28, 56, 29, 15, 89, 61, 6, 0, 65, 75, 38, 18, 7, 37, 82, 51, 23, 48, 40, 73, 78, 39, 33, 86, 59, 81, 63, 99, 10, 96, 84, 69, 98, 35, 31, 55, 34, 21, 77, 42, 16, 97, 49, 45, 44, 67, 64, 36, 4, 22, 8, 93, 60, 19, 11, 72, 71, 83, 17, 80, 70, 74, 26, 90, 66, 46, 41]
The list lenth is: 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [150]:
# Your code here
set2 = set(sample_list_2)
print (set2)

{0, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 21, 22, 23, 25, 26, 28, 29, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 53, 55, 56, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 77, 78, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [151]:
# Your code here
set3 = set1 - set2
print(set3)

{32, 1, 68, 5, 43, 76, 14, 47, 79, 20, 52, 54, 85, 57, 27, 30, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [152]:
# Your code here
set4 = set2 - set1
print (set4)

{96, 65, 66, 35, 99, 37, 70, 8, 73, 75, 44, 81, 51, 21, 91, 93, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [153]:
# Your code here
set5 = set1 & set2
print(set5)

{0, 2, 3, 4, 6, 7, 10, 11, 12, 13, 15, 16, 17, 18, 19, 22, 23, 25, 26, 28, 29, 31, 33, 34, 36, 38, 39, 40, 41, 42, 45, 46, 48, 49, 50, 53, 55, 56, 59, 60, 61, 63, 64, 67, 69, 71, 72, 74, 77, 78, 80, 82, 83, 84, 86, 87, 88, 89, 90, 92, 94, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [154]:
# Your code here
set_lengths = [len(set1), len(set2), len(set3), len(set4),len(set5)]
relacion = len(set1) + len(set2) - len(set5)
print ("len(set1) + len(set2) - len(set5) =",relacion)

len(set1) + len(set2) - len(set5) = 97

#### Create an empty set called `set6`.

In [155]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [156]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 67, 68, 69, 71, 72, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 97, 98}

#### Check if `set1` and `set6` are equal.

In [157]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [163]:
# Your code here
result1 = set1.issubset(set2)
result2 = set1.issubset(set3)
print (result1)
print (result2)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [164]:
# Your code here
union_1 = set3 | set4 | set5
print (union_1)
union_2 = union_1 | set1 | set2
print (union_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [167]:
# your code here
list1 = list(set1)
list1.pop (0)
set1 = set(list1)
print (set1)

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 67, 68, 69, 71, 72, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [174]:
list_to_remove = set([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])
set1 = set1 - list_to_remove
print(set1)

{2, 3, 4, 5, 6, 7, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 36, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 60, 63, 64, 67, 68, 72, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 94, 95, 97, 98}