In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

/var/folders/2v/nsbsx6y90_9_6kks00t6shb80000gn/T/ipykernel_19354/932349288.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = pd.read_csv('/Users/haddock_ana/Ironhack/Unit 8 - Machine Learning advanced/data/learningSet.csv')

In [3]:
data.shape

(95412, 481)

In [4]:
nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

    column_name  nulls_percentage
0       ODATEDW          0.000000
1       OSOURCE          0.000000
2         TCODE          0.000000
3         STATE          0.000000
4           ZIP          0.000000
..          ...               ...
476    MDMAUD_R          0.000000
477    MDMAUD_F          0.000000
478    MDMAUD_A          0.000000
479    CLUSTER2          0.001383
480    GEOCODE2          0.001383

[481 rows x 2 columns]

In [5]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.15]
print(len(columns_above_threshold['column_name']))

77

In [6]:
drop_columns_list = list(columns_above_threshold['column_name'])
print(drop_columns_list)

['AGE', 'NUMCHLD', 'INCOME', 'WEALTH1', 'MBCRAFT', 'MBGARDEN', 'MBBOOKS', 'MBCOLECT', 'MAGFAML', 'MAGFEM', 'MAGMALE', 'PUBGARDN', 'PUBCULIN', 'PUBHLTH', 'PUBDOITY', 'PUBNEWFN', 'PUBPHOTO', 'PUBOPP', 'WEALTH2', 'ADATE_5', 'ADATE_10', 'ADATE_13', 'ADATE_14', 'ADATE_15', 'ADATE_16', 'ADATE_17', 'ADATE_18', 'ADATE_19', 'ADATE_20', 'ADATE_21', 'ADATE_22', 'ADATE_23', 'ADATE_24', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_8', 'RDATE_9', 'RDATE_10', 'RDATE_11', 'RDATE_12', 'RDATE_13', 'RDATE_14', 'RDATE_15', 'RDATE_16', 'RDATE_17', 'RDATE_18', 'RDATE_19', 'RDATE_20', 'RDATE_21', 'RDATE_22', 'RDATE_23', 'RDATE_24', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_8', 'RAMNT_9', 'RAMNT_10', 'RAMNT_11', 'RAMNT_12', 'RAMNT_13', 'RAMNT_14', 'RAMNT_15', 'RAMNT_16', 'RAMNT_17', 'RAMNT_18', 'RAMNT_19', 'RAMNT_20', 'RAMNT_21', 'RAMNT_22', 'RAMNT_23', 'RAMNT_24']

you were told that the following columns are important: 
* wealth1 
* wealth2
* RDATE3
* RAMNT_3

In [25]:
add_on = ['ZIP', 'OSOURCE']
drop_columns_list = drop_columns_list + add_on

In [30]:
len(drop_columns_list)

78

In [32]:
keep_columns = ['WEALTH1', 'WEALTH2', 'RDATE3', 'RAMNT_3']
# List comprehension to filter columns from drop_columns_list
drop_columns_list = [column for column in drop_columns_list if column not in keep_columns]

In [34]:
len(drop_columns_list)

76

In [35]:
data_1 = data.copy()

In [36]:
print(data_1['GENDER'].value_counts())

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [37]:
for i in range(len(data_1['GENDER'])):
    if data_1.loc[i, 'GENDER'] != 'F' and data_1.loc[i, 'GENDER'] != 'M':
        data_1.loc[i, 'GENDER'] = 'other'

In [38]:
print(data_1['GENDER'].value_counts())

GENDER
F        51277
M        39094
other     5041
Name: count, dtype: int64